services:
  db:
    image: postgres:15-alpine
    container_name: reservation-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: reservation
    ports:
      - '5432:5432'
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: reservation-redis
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - ./data/redis:/data
